*.py[co]
*.DS_*
# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# other tmmp files
*backend_concat.js

# node js stuff
env_server/node_modules

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
venv
*.pyc
build
