absl-py==0.1.9
bleach==1.5.0
certifi==2018.1.18
chardet==3.0.4
click==6.7
Cython==0.27.3
Flask==0.12.2
futures==3.1.1
get==0.0.39
html5lib==0.9999999
idna==2.6
itsdangerous==0.24
Jinja2==2.10
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
numpy==1.14.0
post==0.0.26
protobuf==3.5.1
public==0.0.65
pygpu==0.7.5+9.gdfadef3
query-string==0.0.28
requests==2.18.4
scipy==1.0.0
six==1.11.0
Theano==1.0.1
urllib3==1.22
Werkzeug==0.15.3
